@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('/fonts/brandon-grot-w01-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Light';
  src: url('/fonts/avenir-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Heavy';
  src: url('/fonts/avenir-heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-brandon: 'Brandon Grotesque', sans-serif;
  --font-avenir-light: 'Avenir Light', sans-serif;
  --font-avenir-heavy: 'Avenir Heavy', sans-serif;
  --foreground: #000000;
  --background: #ffffff;
  --navy: #0C3C60;
  --navy-dark: #072136;
  --accent-blue: #3179AF;
  --accent-orange: #EC5800;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-avenir-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-brandon);
  font-weight: 300;
}
